*{
    margin: 0px;
    padding: 0px;
}
@font-face{
    font-family: "allessa";
    src: url("./fonts/Allessa.ttf");
    font-style: normal;
}
@font-face{
    font-family: "forefarmer";
    src: url("./fonts/ForefarmersDemoRegular-1LpB.ttf");
    font-style: normal;
}
@font-face{
    font-family: "brokenz";
    src: url("./fonts/Brokenz-BWa0d.ttf");
    font-style: normal;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
    height: auto;
}
#header .header {
    min-height: 10vh;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0 10px;
}

#header .nav-bar .brand img{
   position: absolute;
   left:30px;
   top: 0vh;
   height: 10.2vh;
}

/* hamburger background */
#header .nav-list ul {
	list-style: none;
    position: absolute;
    background-color: rgb(5, 1, 1);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 30px;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul .active{
    background: grey;
}

#header .nav-list ul a::after {
    content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgb(13, 49, 38);
	font-size: 6rem;
	letter-spacing: 50px;
	z-index: -10;
	transition: .3s ease letter-spacing;
}
.nav-bar a.active{
    background: linear-gradient(to right,rgb(46, 46, 46),rgb(41, 40, 40));
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right:  10px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -2;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

/* end of header */
#home{
    height: 690px;
    width: 100%;
    position: relative;
}

#home .image-home{
    height: 100%;
    width: 100%;
    background: black;
}
#home .image-home img{
    height: 100%;
    width: 100%;
    opacity: 0.4;
}
#home .home-content{
    position: absolute;
    top: 280px;
    right: 250px; 
}
#home .home-content h1{
    color: whitesmoke;
    width: 400px;
    font-family: "allessa";
    font-weight:200 ;
    font-size: 50px;
}
#home .home-content p{
    font-size: 20px;
    margin-top: 10px;
    color: honeydew;
    width: 350px;
}
/*------end of home page ------- */

/*footer */
.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to right, black,rgb(44, 42, 42));
}
.footer .container-footer h1{
    color: gold;
}
.footer .container-footer span{
    color: whitesmoke;
}
.footer .container-footer p{
    color: whitesmoke;
    position: relative;
    right: 15px;
}
.footer .container-footer h2{
    color: white;
    position: relative;
    left: 10px;
    font-size: 15px;
}

/*----about page------ */
#about{
    height: 100vh;
    background: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .content-about{
    width: 65%;
}
#about .content-about h1{
    text-align: center;
    font-weight: 200;
    font-size: 100px;
    font-family: "brokenz";
    color: goldenrod;
}
#about .content-about p{
    font-size: 22px;
    margin-bottom: 20px;
    color: whitesmoke;
    text-align: justify;
}

/* destination */
#destination{
    height: 900px;
    width: 100%;
    background: black;
    position: relative;
}
.container-destination{
    position: absolute;
    top:30vh;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box-dest{
    position: relative;
    height: 270px;
    width: 270px;
    text-align: center;
    border-radius: 5px;
  }
  .front-face, .back-face{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ebf8f9;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    transition: transform .4s linear;
  }
  .cover{
    background: linear-gradient(75deg, #8e44ad, #2980b9);
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .profile{
    height: 100%;
    width: 100%;
    background: white;
  }
  .about{
    margin-top: 10px;
    padding: 0px 35px;
    font-size: 15px;
  }
  h1{
    color: #0d0d0d;
  }
  p{
    padding: 10px;
    color: #262626;
    text-align: justify;
  }  
  .back-face{
    transform: perspective(800px) rotateY(-180deg);
  }
  .front-face{
    transform: perspective(800px) rotateY(0deg);
  }
  .box-dest:hover > .back-face{
    transform: perspective(800px) rotateY(0deg);
  }
  .box-dest:hover > .front-face{
    transform: perspective(800px) rotateY(180deg);
  }



/* photos */
#photos{
    background: black;
    height: 2000px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#photos .photo-container{
    position: absolute;
    top:15vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#photos .box-photos{
    height: 250px;
    width: 250px;
    border: 2px solid white;
    background: black;
    margin-top: 60px;
}
#photos .box-photos img{
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

/* blog */

#blog{
    background: black;
    height: 2200px;
}
.row:after{
	content: '';
	display: table;
	clear: both;
}
.container-blogs{
    position: relative;
    top: 15vh;
}
header h1{
	text-align: center;
	font-size:60px;
	color:gold;
    margin:1.5 0px;
    font-family: "allessa";
    font-weight: 200;

}

#blog p{
    color: crimson;
    font-size: 20px;
    text-shadow: 0.5px 1px black;
}
h2{
	color:#000000;
margin:1.5 0px;	
}
.left-column{
float: left;
width: 70%;	
}

.right-column{
 width: 25%;
 float: right;
 padding-left:20px;
 padding-right: 10px;
}
.card{
	padding: 20px;
	background-color: #ffffff;
 margin-top:20px;
}

.card img{
	width: 100%;
}


.right-column .card img{
	margin-bottom: 10px;
}

/* contact */
#contact{
    background: black;
    height: 700px;
}
#contact .upper-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;
    position: relative;
}
#contact .upper-contact .background-upper{
    background-image: url("https://images.pexels.com/photos/1421903/pexels-photo-1421903.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-position: center center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    opacity: 0.3;
}
.upper-contact h1{
    color: white;
    font-size: 50px;
    z-index: 2;
}
.upper-contact h3{
    color: whitesmoke;
    font-size: 22px;
    z-index: 2;
}
.upper-contact h3 .fa{
    color: red;
}
.lower-contact{
    height:500px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lower-contact .contact-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
   height: 30px;
   width: 100%;
   box-shadow:0 2px 1px rgb(68, 68, 68);
}
.lower-contact .contact-info h2{
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    color: gold;
}
.lower-contact .contact-info .fa{
    color: white;
}
.lower-contact #success{
    color: rgb(131, 209, 13);
    font-size: 24px;
}
form{
    display: flex;
    flex-direction: column;
    height: 430px;
    width: 35%;
    align-items: center;
    justify-content: space-around;
    border: none;
    margin-top: 15px;
}
form input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(77, 75, 75);
    background: transparent;
    color: white;
    font-size: 18px;
}
form textarea{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(80, 77, 77);
    background: transparent;
    resize: none;
    color: white;
    font-size: 18px;
}
form input::placeholder{
    color: rgb(158, 152, 152);
    opacity: 0.6;
    font-size: 14px;
}
form textarea::placeholder{
    color: rgb(158, 152, 152);
    opacity: 0.6;
    font-size: 14px;
}
form button{
    padding: 10px;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 15px;
    word-spacing: 3px;
}


#facts{
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
}
#facts .container-facts{
    width: 70%;
    height: 80vh;
    position: absolute;
    top: 14vh;
}
#facts ul{
    list-style-type: disc;
}
#facts li{
    color: goldenrod;
    font-size: 24px;
    margin-top: 9px;
}



/*responsive */
@media(max-width:800px){
    #home .home-content{
        right: 10px;
    }
    #home .home-content h1{
        font-size: 35px;
    }
    #home .home-content p{
        font-size: 16px;
    }
    #about .content-about{
        width: 90%;
    }
    #about .content-about h1{
        font-size: 60px;
    }
    #about .content-about p{
        font-size: 15px;
    }
    #photos{
        background: none;
    }
    #destination{
        background: none;
    }
	.left-column,.right-column{
    width: 100%;
    padding: 0px;
    }
    .upper-contact h1{
        font-size: 34px;
    }
    .upper-contact h3{
        font-size: 15px;
    }
    .lower-contact .contact-info h2{
        font-size: 14px;
        margin-left: 5px;
    }
    .lower-contact #success{
        font-size: 13px;
        margin-top: 10px;
    }
    form{
        width: 80%;
        height:420px ;
    }
    form input{
        font-size: 16px;
    }
    form textarea{
        font-size: 16px;
    }
}
@media (min-width: 1200px){
    /* header only */
    #header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
        background-color: transparent;
        margin-right: 38px;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
        font-size: 20px;
        margin-right: -18px;
        font-weight: bold;
        letter-spacing: -1px;
	}
	#header .nav-list ul a:after {
		display: none;
    }
    #header .nav-list ul li a:hover {
        color: gold;
    }
}